services:
  db:
    image: postgres:latest
    container_name: zero2prodDB
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
       - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres

volumes:
  postgres-data:
